venv_flask/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.git
.gitignore
README.md
.DS_Store
*.log
instance/*.db
instance/*.db-journal
*.sqlite3
backend/tests/
frontend/node_modules/
frontend/dist/
cloudbeaver-workspace/
venv/
backend/__pycache__/
frontend/.vite/
