POSTGRES_DB=todo
POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
SECRET_KEY=change-this-secret-key-with-at-least-32-characters
DATABASE_URL=postgresql+psycopg://todo:todo@postgres:5432/todo
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7
CORS_ORIGINS=["http://localhost:8081","http://localhost:5173"]
MEDIA_ROOT=/app/media
SECURE_COOKIES=false
