<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>

<h1>Todo List</h1>

<form action="/add" method="post">
    <input type="text" name="title" placeholder="Название" required>
    <input type="text" name="description" placeholder="Описание">
    <button type="submit">Добавить</button>
</form>

<hr>

<ul>
    {% for task in tasks %}
        <li>
            {% if task.status == "todo" %}
                {{ task.title }}
                {% if task.description != ''%}
                    <br>Описание: {{ task.description }}
                {% endif %}
            {% else %}
                <s>{{ task.title }}</s>
            {% endif %}

            <br>
            <a href="/done/{{ task.id }}">
                <button>done</button>
            </a>
            <a href="/delete/{{ task.id }}">
                <button>delete</button>
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>
